content.content
  header Ongoing Projects
  nav
    .breadcrumbs
      button All
      button.active Current
      button Pending
      button Completed
    .format
      button.active: i.icon-grid
      button:i.icon-list-view
  include ./cards.pug
  include ./files.pug
  include ./statistics.pug
