content.content
  header Ongoing Projects
  nav
    .breadcrumbs
      button All
      button.active Current
      button Pending
      button Completed
    .format
      button.active grid
      button list
  include ./cards.pug
  include ./files.pug
  include ./statistics.pug
